<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yi.mapper.VideoInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yi.entity.VideoInfo" >
    <id column="vid" property="vid" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="INTEGER" />
    <result column="onchoose" property="onchoose" jdbcType="CHAR" />
    <result column="video_introduce" property="videoIntroduce" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    vid, cid, name, time, onchoose, video_introduce
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yi.entity.VideoInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from video_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from video_info
    where vid = #{vid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from video_info
    where vid = #{vid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yi.entity.VideoInfoExample" >
    delete from video_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yi.entity.VideoInfo" >
    insert into video_info (vid, cid, name, 
      time, onchoose, video_introduce
      )
    values (#{vid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{time,jdbcType=INTEGER}, #{onchoose,jdbcType=CHAR}, #{videoIntroduce,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yi.entity.VideoInfo" >
    insert into video_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vid != null" >
        vid,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="onchoose != null" >
        onchoose,
      </if>
      <if test="videoIntroduce != null" >
        video_introduce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vid != null" >
        #{vid,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=INTEGER},
      </if>
      <if test="onchoose != null" >
        #{onchoose,jdbcType=CHAR},
      </if>
      <if test="videoIntroduce != null" >
        #{videoIntroduce,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yi.entity.VideoInfoExample" resultType="java.lang.Integer" >
    select count(*) from video_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update video_info
    <set >
      <if test="record.vid != null" >
        vid = #{record.vid,jdbcType=INTEGER},
      </if>
      <if test="record.cid != null" >
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=INTEGER},
      </if>
      <if test="record.onchoose != null" >
        onchoose = #{record.onchoose,jdbcType=CHAR},
      </if>
      <if test="record.videoIntroduce != null" >
        video_introduce = #{record.videoIntroduce,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update video_info
    set vid = #{record.vid,jdbcType=INTEGER},
      cid = #{record.cid,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=INTEGER},
      onchoose = #{record.onchoose,jdbcType=CHAR},
      video_introduce = #{record.videoIntroduce,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yi.entity.VideoInfo" >
    update video_info
    <set >
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=INTEGER},
      </if>
      <if test="onchoose != null" >
        onchoose = #{onchoose,jdbcType=CHAR},
      </if>
      <if test="videoIntroduce != null" >
        video_introduce = #{videoIntroduce,jdbcType=VARCHAR},
      </if>
    </set>
    where vid = #{vid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yi.entity.VideoInfo" >
    update video_info
    set cid = #{cid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      time = #{time,jdbcType=INTEGER},
      onchoose = #{onchoose,jdbcType=CHAR},
      video_introduce = #{videoIntroduce,jdbcType=VARCHAR}
    where vid = #{vid,jdbcType=INTEGER}
  </update>
</mapper>